# Compiled library files
S15lib/g2lib/delta*.so
build/

# Virtual environments
venv/
.venv/

# Caches
__pycache__
.mypy_cache
.ipynb_checkpoints

# OS metadata
.DS_Store

# Package byproducts
S15lib.egg-info
